.typer {
  &--08-0 {
    width: 80%;
    background-color: rgba(green, .3);

    &[name="one"] {
      transform: rotate(-9deg);
    }

    &[name="two"] {
      transform: rotate(2.5deg);
    }

    &[name="three"] {
      transform: rotate(4deg);
    }

    &[name="four"] {
      transform: rotate(8deg);
    }

    &[name="five"] {
      transform: rotate(8deg);
    }

    &[name="six"] {
      transform: rotate(-9deg);
    }

    &[name="seven"] {
      transform: rotate(-5deg);
    }
  }

  &--15-0 {
    width: 90%;
  }

  &--32-0 {
    width: 80%;
  }

  &--34-0 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  &--41-0 {
    font-size: 18px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  &--47-1 {
    width: 80%;
  }

  &--49-0 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  &--50-0 {
    width: 80%;
    font-size: larger;
    font-weight: $font-weight--bold;
  }
}

.checker {
  &--24-0 {
    & + .labelChecker__answer {
      width: 20%;
      height: 100%;
    }
  }

  &--44-0 {
    & + .labelChecker__answer {
      width: 40%;
      height: 80%;
    }
  }

  &--45-0 {
    & + .labelChecker__answer {
      width: 40%;
      height: 80%;
    }
  }

  &--48-0 {
    & + .labelChecker__answer {
      width: 50%;
      height: 100%;
    }
  }
}

.picker {
  &--08-0 {
    & + label {
      width: 26%;
      top: 24%;
    }
  }

  &--51-0 {
    & + .labelPicker__answer {
      width: 19%;
    }
  }
}

.page11 #nas-img,
.page11 #ochi-img {
  opacity: 0.6;
}
.page11 .the-target-endpoint {
  width: 19px !important;
  height: 18px !important;
}
.page11 .the-target-endpoint > svg {
  width: 14px;
  height: 14px;
}
.page11 .the-target-endpoint > svg {
  top: auto !important;
  left: auto !important;
  right: 0;
  bottom: 0;
}
.page11 .the-target-endpoint circle {
  cx: 7;
  cy: 7;
  r: 7;
}
